<div>
    <div class="image-beer">
       <img src="{{response.image_url}}" >
        <div class="text-beer">
            <p class="name-beer"> {{response.name}}</p>
            <p class="desc-beer"><em><b>Descripction:</b></em> {{response.description}}</p>
            
            <p class="desc-beer"><em><b>Tips :</em></b>{{response.brewers_tips}}</p>
            <p class="desc-beer"><em><b>Contributed by:</em></b> {{response.contributed_by}}</p>
            <p class="tagline-beer"><em><b>Tagline: </em></b>{{response.tagline}}</p>
        </div>
    </div>  
</div> 